VITE_SUPABASE_URL=https://bjhfsqgslbvvgcwwfmpp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJqaGZzcWdzbGJ2dmdjd3dmbXBwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU0MDE1NTYsImV4cCI6MjEwMDk3NzU1Nn0.HdoJsAlwqSKqiMMQuth4t3ssnci8lDlrpCvN1neLc3o
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_--LvI_8l7C330-rNheiiFw_VeU2Do_I
